@{
    Layout = null;
    ViewBag.Title = "Details";
}
 
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes do Chamado</h4>
        </div>
        <div class="modal-body">
           @foreach (var item in  ViewBag.ListaLog)
           {
               <p>@item.Detalhamento</p>
           }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->