<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/Home/Home"><i class="fa fa-dashboard fa-fw"></i>Home</a>
            </li>
            <li>
                <a href="/Incidentes/Index"><i class="glyphicon glyphicon-wrench"></i> Chamados<span class="fa arrow"></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Incidentes/Index">Incidentes</a>
                    </li>
                    <li>
                        <a href="/Servicos/Index">Serviços</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>                      
            <li>
                <a href="/Clientes/Index"><i class="glyphicon glyphicon-th"></i> Clientes</a>
            </li>
            <li>
                <a href="/Usuarios/Index"><i class="glyphicon glyphicon-user"></i> Usuarios</a>
            </li>
        </ul>
    </div>

</div>
